@import './backCartas.scss';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
}

.MesaDeJuego{
    height: 100vh;
    width: 100vw;
    background-color: rgb(240, 234, 234);
    background-image: url("../assets/images/wepik--2022530-10208.png");
    flex-wrap: nowrap;
}

.mesaJugador,.mesaCrup{
    width: fit-content;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: nowrap;
    margin-bottom: 1%;
}
.Botones{
    width: 100vw;
    height: auto;
}
.carta{
    height: 350px;
    width: 251px; 
}
.CartelGanaPierdeHide{
    display: none;
}
.CartelGanaPierdeNoHide{
    display:block;
    position: absolute;
    width: 500px;
    height: 500px;
    top: 20%;
    right: 30%;  
}
.CartelGana{
   background-image: url("../assets/images/Gana.png");
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   
}
.CartelPierde{
   background-image: url("../assets/images/Pierde.png");
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
}
.CartelEmpate{
   background-image: url("../assets/images/Empate-01.png");
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
}

