@import './backCartas.scss';
@import './tarjetaCredito.scss';
@import './menuApuestas.scss';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    background-color: rgb(240, 234, 234);
    background-image: url("../assets/images/wepik--2022530-10208.png");
    display: flex;
    align-content: space-around;
    flex-wrap: nowrap;
}

.MesaDeJuego, .MesaDeApuestas{ 
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.mesaJugador,.mesaCrup{
    width: fit-content;
    max-height: 100vh;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: nowrap;
    margin-bottom: 1%;
}


.carta{
    height: 35vh;
    aspect-ratio: 251/351;
    background-size:cover;
}

.CartelGanaPierde{
    position:absolute;
    top: 22%;
    left: 25%;
    height: 20vw;
    aspect-ratio: 5/2;


    background-size: contain;
    background-repeat: no-repeat;

}
.CartelGana{
    background-image: url("../assets/images/Gana.png");
 }
 .CartelPierde{
    background-image: url("../assets/images/Pierde.png");
 }
 .CartelEmpate{
    background-image: url("../assets/images/Empate-01.png");   
 }


